@font-face
  font-family: Raleway light
  src: url(~/assets/fonts/Raleway/Raleway-Light.ttf)

@font-face
  font-family: EBGaramond Regular
  src: url(~/assets/fonts/EB_Garamond/EBGaramond-Regular.ttf)

@font-face
  font-family: EBGaramond Medium
  src: url(~/assets/fonts/EB_Garamond/EBGaramond-Medium.ttf)