@import 'tailwind.sass'
@import 'variables.sass'
@import 'fonts.sass'

p, a
  font-family: Raleway Light

h1, h2, h3, .EBGaramond
  font-family: EBGaramond Medium

.menu-animate 
  display: flex
  align-items: center
  justify-content: center
  z-index: 99999999
  .menu-icon 
      transform: scale(1.5)
:root 
  --bar-bg: #212529

.menu-icon 
  position: relative
  width: 50px
  height: 50px
  cursor: pointer

  .menu-icon__cheeckbox 
    display: block
    width: 100%
    height: 100%
    position: relative
    cursor: pointer
    z-index: 2
    -webkit-touch-callout: none
    position: absolute
    opacity: 0
  div 
    margin: auto
    position: absolute
    top: 0
    right: 0
    left: 0
    bottom: 0
    width: 22px
    height: 11px
  span 
    position: absolute
    display: block
    width: 100%
    height: 1px
    background-color: $green
    border-radius: 1px
    transition: all 0.2s cubic-bezier(0.1, 0.82, 0.76, 0.965)
    &:last-of-type
        bottom: 0
  &.active,
  .menu-icon__cheeckbox:checked + div 
      span 
          &:first-of-type 
              transform: rotate(45deg)
              top: 5px
          &:last-of-type 
              transform: rotate(-45deg)
              bottom: 5px
  &.active:hover span:first-of-type,
  &.active:hover span:last-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:first-of-type,
  &:hover .menu-icon__cheeckbox:checked + div span:last-of-type 
      width: 22px
  &:hover
      @media (min-width: 1024px) 
          span:first-of-type 
              width: 26px
          span:last-of-type 
              width: 12px