<template>
  <section id="about-me">
    <div class="lg:grid lg:grid-cols-2 flex flex-col gap-x-6 md:py-16 py-6">
      <div class="p-4 m-4 space-y-2 flex flex-col justify-center">
        <h2 class="text-2xl">Présentation</h2>
        <p class="text-justify">Étant diplômée d’un Master en psychologie clinique et psychopathologie, je travaille aujourd’hui dans mon cabinet et chez France Victimes 34, association d’aide aux victimes d’infraction pénale, dans laquelle j’accompagne des personnes ayant vécus des événements potentiellement traumatiques et souffrant souvent de symptômes post-traumatiques. De part cette expérience, j’ai été formée à la prise en charge du psychotraumatisme, des personnes ayant été victime d’emprise sectaire, et des personnes (adultes, enfants, adolescents) endeuillées. </p>
        <p class="text-justify">Mon orientation étant plutôt analytique, la parole est l’outil principal que nous utiliserons afin de pouvoir travailler sur vos difficultés, souffrances ou symptômes, et ainsi mobiliser vos ressources pour y faire face. Les séances seront basées sur l’écoute de votre vécu émotionnel en tenant compte de la singularité de chacun et seront évidemment confidentielles.</p>
        <p class="text-justify">Les raisons pour consulter un psychologue peuvent être multiples, allant de simples questionnements à différentes problématiques que nous pourrons travailler ensemble comme par exemple, le psychotraumatisme, les problématiques de violences et de passages à l’acte, les difficultés relationnelles, l’angoisse, le deuil, les phobies, etc.
        </p>
        <h3 class="text-xl pt-6">Cadre des séances</h3>
        <p class="text-justify">Le cadre des séances est donc sécurisant, bienveillant et non-jugeant. Elles sont évidemment confidentielles.</p>
        <p class="text-justify">Les séances durent entre 30 et 45 minutes. Les séances pour les évaluations psychologiques durent deux heures à deux heures et demi.</p>
        <p class="text-justify">Les séances doivent être annulées ou reportées au moins 48h à l'avance, sous peine d'être dues. </p>
          <p class="text-justify">Elles ne sont pas remboursées par la sécurité sociale, mais il est possible de vous fournir des factures afin que vous fassiez une demande de remboursement auprès de votre mutuelle. 
</p>
<p class="text-justify font-semibold">Seuls les règlements par chèque ou en espèce sont acceptés, le paiement par carte bancaire ne l’est pas.</p>
        <div class="text-center py-6">
          <a class="bg-green text-beige mx-auto cursor-pointer p-3 rounded-xl inline"
            @click.prevent="scrollTo('contact')">Me contacter</a>
        </div>
      </div>
      <div class="bg-beige p-6 m-6 rounded-2xl space-y-6">
        <h3 class="text-xl">Expériences</h3>
        <div class="space-y-2">
          <div class="space-y-2">
            <p class="font-bold inline-block">• Depuis janvier 2024 : formatrice au Ceméa Occitanie 
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <p class="pl-4">J’anime des interventions dans le cadre du Diplôme d’Etat d’Accompagnant Educatif et Social sur le développement de l’enfant, le deuil, les troubles psychiatriques, la théorie de l’attachement.</p>
          </div>
          <div class="space-y-2">
            <p class="font-bold inline-block">• Depuis février 2023 : pyschologue chez France Victimes 34  
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <p class="pl-4">Accompagnement psychologique des personnes ayant vécu des événements violents, voire traumatiques. </p>
          </div>
          <div class="space-y-2">
            <p class="font-bold inline-block">• Depuis septembre 2022 : psychologue en cabinet libéral 
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <p class="pl-4">Je propose des consultations adultes, adolescents et enfants, des bilans psychologiques (test de QI). </p>
          </div>
          <div class="space-y-2">
            <p class="font-bold inline-block">• 2020 – 2022 : CHS de l’Yonne 
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <p class="pl-4">-	Intervention en milieu carcéral (centre de détention de Joux-la-Ville) auprès d’auteurs d’infraction à caractère sexuel principalement<br>
-	Intervention en hôpital de jour auprès d’adultes souffrant de troubles psychiatriques
</p>
          </div>
        </div>
        <h3 class="text-xl">Formations</h3>
        <div class="space-y-2">
          <div class="space-y-4">
            <p class="font-bold inline-block">• 2024 – L’accompagnement des personnes endeuillées à France Victimes (Paris)
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <p class="font-bold inline-block">• 2023 - L’emprise sectaire chez France Victimes 34
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            <div>
              <p class="font-bold inline-block">• 2022 - Master Psychologie 
              <span class="w-full h-1 bg-green block rounded-xl ml-1"></span>
            </p>
            </div>
            <p class="pl-4">Master « psychopathologie clinique, psychologie médicale, et psychothérapies » à l’Université de Bourgogne Franche-Comté</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script setup>
import VueScrollTo from 'vue-scrollto';

const scrollTo = (elementId) => {
  VueScrollTo.scrollTo(`#${elementId}`);
};
</script>