<template>
  <section id="contact" class="space-y-6 md:space-y-0 md:pt-16 pt-6">
    <div class="p-4 m-4">
      <h2 class="text-2xl">Contact</h2>
    </div>
    <div>
      <div class="lg:grid lg:grid-cols-4 flex flex-col p-6 m-6 gap-6">
        <div>
          <h3 class="text-xl">Adresse :</h3>
          <p>Maison Médicale les Roses </p>
          <p>57 route de Lavérune</p>
          <p>34070 Montpellier </p>
        </div>
        <div>
          <h3 class="text-xl">Contact :</h3>
          <p>celiaroguier.psychologue@gmail.com</p>
          <p>+33(0) 7 67 83 79 77</p>
        </div>
        <div>
          <h3 class="text-xl">Rendez-vous :</h3>
          <p>Téléconsultation ou présentiel</p>
        </div>
        <div>
          <h3 class="text-xl">Numéros de référence :</h3>
          <p>Numéro ADELI : 349326488</p>
          <p>SIRET : 917 519 217 000 25</p>
        </div>
      </div>
      <div class="text-center pb-16">
        <a href="https://www.doctolib.fr/psychologue/montpellier/celia-roguier" target="_blank">
        <p class="bg-green text-beige mx-auto cursor-pointer p-3 rounded-xl inline">Prendre rdv sur doctolib</p></a>
      </div>
      <div>
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2889.2195646028176!2d3.84860978864493!3d43.60196979660013!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12b6ae5ab786001d%3A0x40fb295a01b7c471!2s57%20Rte%20de%20Lav%C3%A9rune%2C%2034070%20Montpellier!5e0!3m2!1sfr!2sfr!4v1731620458553!5m2!1sfr!2sfr" width="100%" height="450" style="border:0;" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </section>
</template>