<template>
  <section id="footer">
    <div class="lg:grid lg:grid-cols-4 flex flex-col bg-green">
      <div class="md:p-6 md:m-6 px-6 m-3 rounded-2xl flex flex-col">
        <img src="/images/celia-roguier-logo-white.png" alt="" class="w-32 mx-auto">
      </div>
      <div class="md:p-6 md:m-6 px-6 m-3 rounded-2xl flex flex-col">
        <p class="text-xl text-beige pb-6 EBGaramond">Célia Roguier</p>
        <p class="text-lg text-beige h-6 pt-0 mt-0">Psychologue clinicienne</p>
        <p class="text-lg text-beige h-6 pt-0 mt-0">à Montpellier</p>
      </div>
      <div class="md:p-6 md:m-6 px-6 m-3 rounded-2xl flex flex-col justify-center">
        <p class="text-xl text-beige pb-6 EBGaramond">Menu</p>
        <a @click.prevent="scrollTo('about-me')" class="text-md leading-6 text-beige cursor-pointer">
          Présentation
        </a>
        <a @click.prevent="scrollTo('prices')" class="text-md leading-6 text-beige cursor-pointer">
          Tarifs
        </a>
        <a @click.prevent="scrollTo('contact')" class="text-md leading-6 text-beige cursor-pointer">
          Contact
        </a>
      </div>
      <div class="md:p-6 md:m-6 px-6 m-3 rounded-2xl flex flex-col justify-center">
        <p class="text-xl text-beige pb-6 EBGaramond">Contact</p>
        <p class="text-beige h-6 pt-0 mt-0">celiaroguier.psychologue@gmail.com</p>
        <p class="text-beige h-6 pt-0 mt-0">+33(0) 7 67 83 79 77</p>
      </div>
    </div>
    <div class="py-2">
      <p class="text-center text-sm">
        Célia Roguier © {{ currentYear }} -
        <span class="italic">By
          <a href="https://www.pierre-heraud.com" target="_blank" class="underline">Pierre Heraud</a></span>
      </p>
    </div>
  </section>
</template>

<script setup>
import VueScrollTo from "vue-scrollto";
import { computed } from "vue";

const currentYear = computed(() => new Date().getFullYear());

const scrollTo = (elementId) => {
  VueScrollTo.scrollTo(`#${elementId}`);
};
</script>
