<template>
  <section id="header">
    <div class="lg:grid lg:grid-cols-2 flex flex-col">
      <div class="bg-beige p-6 m-6 rounded-2xl space-y-6 flex flex-col justify-center">
        <h1 class="text-4xl">Célia Roguier</h1>
        <p class="text-justify">Je suis psychologue clinicienne et psychothérapeute, et propose des suivis psychologiques individuels au sein de mon cabinet dans un cadre sécurisant, bienveillant et de non-jugement. </p>
        <p class="text-justify">En effet, je reçois en consultation psychologique des adultes, des enfants et des adolescents. Les consultations pour les adultes et les adolescents peuvent être réalisées en présentiel ou en téléconsultation. </p>
        <p class="text-justify">Je reçois également les enfants et les adolescents pour la passation de bilan psychologique (test de QI), soit dans le cadre du dispositif Occitadys, soit dans le cadre d’une demande initiée par l’école, psychologues, professionnels médicaux ou paramédicaux. </p>
        <p class="text-justify">Je propose également un tarif préférentiel pour les étudiants. 
        </p>
      </div>
      <div class="bg-green p-6 m-6 rounded-2xl">
        <img class="md:w-8/12 w-10/12 my-8 mx-auto rounded-xl" src="/images/celia-roguier-bureau.jpg" alt="" />
      </div>
    </div>
  </section>
</template>