<template>
  <header>
    <nav class="mx-auto flex items-center justify-between p-6 lg:px-8" aria-label="Global">
      <NuxtLink to="/" class="-m-1.5 p-1.5">
        <img src="/images/celia-roguier-favicon.png" alt="" class="w-12">
      </NuxtLink>
      <div class="flex lg:hidden">
        <div class="menu-animate -m-2.5 p-2.5">
          <div class="menu-icon" @click="openMobileMenu">
            <input class="menu-icon__cheeckbox" type="checkbox" v-model="mobileMenuOpen" />
            <div>
              <span></span>
              <span></span>
            </div>
          </div>
        </div>
      </div>
      <div class="hidden lg:flex lg:gap-x-12 mx-auto">
        <a activeClass="is-active" @click.prevent="scrollTo('about-me')"
          class="text-lg leading-6 uppercase hover:text-orange cursor-pointer">
          Présentation
        </a>
        <a to="#prices" @click.prevent="scrollTo('prices')" activeClass="is-active"
          class="text-lg leading-6 uppercase hover:text-orange cursor-pointer">
          Tarifs
        </a>
        <a @click.prevent="scrollTo('contact')" activeClass="is-active"
          class="text-lg leading-6 uppercase hover:text-orange cursor-pointer">
          Contact
        </a>
      </div>
    </nav>
    <Dialog as="div" class="lg:hidden" @close="mobileMenuOpen = false" :open="mobileMenuOpen">
      <DialogPanel
        class="fixed inset-y-0 right-0 z-10 w-full overflow-y-auto bg-beige px-6 py-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
        <div class="flex items-center justify-end">
          <div class="menu-animate -m-2.5 p-2.5">
            <div class="menu-icon" @click="closeMobileMenu">
              <input class="menu-icon__cheeckbox" type="checkbox" v-model="mobileMenuOpen" />
              <div>
                <span></span>
                <span></span>
              </div>
            </div>
          </div>
        </div>
        <div class="mt-6 flow-root">
          <div class="my-6 divide-y divide-gray-500/10">
            <div class="space-y-2 py-6">
              <a activeClass="is-active" @click.prevent="scrollTo('about-me')"
                class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 uppercase cursor-pointer"
                @click="closeMobileMenu">
                Présentation
              </a>
              <a activeClass="is-active" @click.prevent="scrollTo('prices')"
                class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 uppercase cursor-pointer"
                @click="closeMobileMenu">
                Tarifs
              </a>
              <a activeClass="is-active" @click.prevent="scrollTo('contact')"
                class="-mx-3 block rounded-lg px-3 py-2 text-base leading-7 uppercase cursor-pointer"
                @click="closeMobileMenu">
                Contact
              </a>
            </div>
          </div>
        </div>
      </DialogPanel>
    </Dialog>
  </header>
</template>
<script setup>
import { ref } from "vue";
import { Dialog, DialogPanel } from "@headlessui/vue";
import VueScrollTo from 'vue-scrollto';

const mobileMenuOpen = ref(false);

const openMobileMenu = () => {
  mobileMenuOpen.value = true;
};

const closeMobileMenu = () => {
  mobileMenuOpen.value = false;
};

const scrollTo = (elementId) => {
  VueScrollTo.scrollTo(`#${elementId}`);
};
</script>