<template>
  <section id="prices">
    <div class="md:py-16 py-6">
      <div class="p-4 m-4">
        <h2 class="text-2xl">Tarifs</h2>
      </div>
      <div class="lg:grid lg:grid-cols-5 flex flex-col gap-x-6 p-6 gap-y-6">
        <div class="text-center bg-green rounded-xl p-2 space-y-6 text-white">
          <img class="w-2/12 mx-auto" src="/images/celia-roguier-consultations-adultes.png" alt="Celia Roguier - consultations adultes" />
          <p class="text-lg font-extrabold uppercase">Consultations <br>adultes</p>
          <div class="flex flex-col items-center w-1/2 mx-auto">
            <p class="text-lg">50€<br>45 minutes</p>
          </div>
        </div>
        <div class="text-center rounded-xl p-2 space-y-6 bg-beige">
          <img class="w-2/12 mx-auto" src="/images/celia-roguier-consultations-adolescents.png" alt="Celia Roguier - consultations adolescents" />
          <p class="text-lg font-extrabold uppercase">Consultations <br>enfants/adolescents</p>
          <div class="flex flex-col items-center w-1/2 mx-auto">
            <p class="text-lg">50€<br>30/45 minutes</p>
          </div>
        </div>
        <div class="text-center bg-green rounded-xl p-2 space-y-6 text-white">
          <img class="w-2/12 mx-auto" src="/images/celia-roguier-test-qi.png" alt="Celia Roguier - test qi" />
          <p class="text-lg font-extrabold uppercase">Test de QI <br>enfants/adolescents</p>
          <div class="flex flex-col items-center w-4/5 mx-auto">
            <p class="text-lg">250€<br>2 heures 30 minutes</p>
          </div>
        </div>
        <div class="text-center rounded-xl p-2 space-y-6 bg-beige">
          <img class="w-2/12 mx-auto" src="/images/celia-roguier-etudiants.png" alt="Celia Roguier - etudiants" />
          <p class="text-lg font-extrabold uppercase">Consultations <br>étudiants</p>
          <div class="flex flex-col items-center w-1/2 mx-auto">
            <p class="text-lg">40€<br>45 minutes</p>
          </div>
        </div>
        <div class="text-center bg-green rounded-xl p-2 space-y-6 text-white">
          <img class="w-2/12 mx-auto" src="/images/celia-roguier-teleconsultations.png" alt="Celia Roguier - teleconsultations" />
          <p class="text-lg font-extrabold uppercase">Téléconsultations <br><br></p>
          <div class="flex flex-col items-center w-1/2 mx-auto">
            <p class="text-lg">50€<br>45 minutes</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>